body{
    margin: 0;
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    
}



.site-header {
    background: linear-gradient(90deg, #0b3a45, #0a2f38);
    padding: 15px 0;
    color: #fff;
}


.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.site-logo img {
    max-height: 55px;
}


.main-navigation .main-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navigation .main-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;

}


.main-navigation .main-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

.main-navigation .main-menu li a:hover {
    opacity: 0.8;
}


.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.btn-appointment {
    background-color: #14b8a6;
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.btn-appointment:hover {
    background-color: #0fa293;
}


.icon-btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.icon-btn:hover {
    opacity: 0.8;
}
